@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SonOfCod.ViewModels

@model RegisterViewModel
<link href="~/css/Admin/StyleSheet.css" rel="stylesheet" />

<div class="main">
    <h2>Register a new admin</h2>

    @using (Html.BeginForm("Register", "Admin", FormMethod.Post))
    {
        <div class="form">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
    </div>
        <div class="form">

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
    </div>
        <div class="form">

            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>
        <input type="submit" value="Register" />
    }
</div>