@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model SonOfCod.Models.Subscriber

<h1>Newsletter</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
        @using (Html.BeginForm("LogOff", "Admin"))
        {
            <input type="submit" class="btn btn-default" value="Log out" />
        }
}
else
{

    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.FirstName)
        @Html.EditorFor(model => model.FirstName)

        @Html.LabelFor(model => model.LastName)
        @Html.EditorFor(model => model.LastName)

        @Html.LabelFor(model => model.CompanyName)
        @Html.EditorFor(model => model.CompanyName)

        <input type="submit" value="Create" />
    }
}